/*css style*/
html, body {
    padding-bottom: 40px !important;
    background-color: #F1F1F1;
}

p.info-message {
    padding: 15px;
    color: #fff !important;
}

.bg-error {
    width: 100%;
}

.header {
    margin-bottom: 20px;
}

footer {
    height: 60px;
    line-height: 60px;
}

.navbar {
    border-radius: 0;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #dddddd;
}

.card-image-fixheight {
    max-height: 200px !important;
    border: 10px solid #F7F7F9;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.price span {
    color: darkslateblue;
    font-weight: bold;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.card > .card-block {
    padding-bottom: 75px;
    border: 10px solid #F7F7F9;
    max-width: 1090px;
}

.btn-default:hover {
    background: #cccccc;
}

.dropdown-menu a.dropdown-item {
    color: #333 !important;
}

.dropdown-menu a.dropdown-item:hover {
    color: #000 !important;
}

.material-icons {
    vertical-align: middle;
    font-size: 22px !important;
}