/*css style*/
html, body {
    padding-bottom: 40px !important;
    background-color: #F5F5F5;
}

p.info-message {
    padding: 15px;
    color: #fff !important;
}
p.bg-error {
    background: #ff0000;
}

.header {
    margin-bottom: 20px;
}

footer {
    height: 60px;
    line-height: 60px;
}

.navbar {
    border-radius: 0;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: #dddddd;
}