<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<div class="container">
    <div class="card">
        <div class="card-header">
            News Detail
        </div>

        <div class="card-block" style="padding-bottom: 10px; padding-top: 10px;">
            <img class="card-img-top" th:src="${news.newsImageLink}" alt="Card newsImageLink cap">
            <h4 class="card-title" th:text="${news.title}"></h4>
            <p class="card-text" style="font-size: 1.2em" th:text="${news.description}"></p>
        </div>
    </div>
</div>

<!--Template footer-->
<div th:include="/fragments/footer :: footer"></div>
</body>
</html>