<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>All news</title>
</head>
<body>
<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<div class="container">
    <h2 style="margin-top: 30px">ALL NEWS</h2>

    <div class="row" style="margin-top: 20px">

        <div class="col-md-12" th:each="news : ${news}">
            <div class="card" style="margin-bottom: 10px">
                <div class="card-block" style="padding-bottom: 10px; padding-top: 10px;">
                    <a th:href="@{/news/detail/{id}(id=${news.id})}">
                        <h3 th:text="${news.title}" class="card-title"></h3>
                    </a>

                    <div class="row">
                        <div class="col-md-4" >
                            <a th:href="@{/news/detail/{id}(id=${news.id})}">
                                <img style="max-height: 100px !important;" th:src="${news.newsImageLink}" alt="#"/>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-text">
                                <p class="card-text" th:text="${news.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Template footer-->
<div th:include="/fragments/footer :: footer"></div>
</body>
</html>