<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<div class="container">
    <h2 style="margin-top: 30px">My Orders</h2>
    <div th:if="!${#lists.isEmpty(orders)}">
        <div class="col-sm-12 row-eq-height" th:each="order: ${orders}">
            <div class="row" style="margin-top: 20px">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-block" style="padding-bottom: 10px; padding-top: 10px;">

                        <div class="card-header">
                            <h2 th:text="${'Order #' + order.id}"></h2>
                            <h4 th:text="${'Order Status: ' + order.status}"></h4>
                            <h4 th:text="${'Created Date: ' + order.date}"></h4>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 row-eq-height" th:each="item : ${order.cart.items}">

                                <div class="card" style="margin-bottom: 10px">
                                    <div class="card-block" style="padding-bottom: 10px; padding-top: 10px;">
                                        <a th:href="@{/good/detail/{id}(id=${item.good.id})}">
                                            <h3 th:text="${item.good.title}" class="card-title"></h3>
                                        </a>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a th:href="@{/good/detail/{id}(id=${item.good.id})}">
                                                    <img style="max-height: 100px !important;"
                                                         th:src="${item.good.smallImageLink}"
                                                         alt="#"/>
                                                </a>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="card-text"
                                                     th:text="${#strings.substring(item.good.description, 0, 100).concat('...')}">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card-text">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item price">
                                                            PRICE&nbsp;<span th:text="${item.good.price}"></span>&nbsp;RUB
                                                        </li>

                                                        <li class="list-group-item price">
                                                            COUNT&nbsp;<span th:text="${item.count}"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(orders)}">
        <p class="alert alert-info">You don't have orders!</p>
    </div>
</div>

<!--Template footer-->
<div th:include="/fragments/footer :: footer"></div>

</div>
</body>
</html>
