<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
</head>
<body>

<!--Template Header-->
<div th:include="fragments/header ::header"></div>

<div class="container">

    <div class="row">
        <div class="col-md-6">

            <form action="#" th:action="@{/user/addUser}" th:object="${user}" method="post">

                <div class="form-group row">
                    <input hidden th:field="*{id}" type="text" name="id" title=""/>
                    <label class="form-control-label" for="LOGIN">LOGIN:</label>
                    <input th:field="*{login}" class="form-control" id="LOGIN" type="text" name="login"/>
                    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                         class="form-control-feedback">Login Error. Try another?
                    </div>
                </div>

                <div class="form-group row">
                    <label class="form-control-label" for="PASSWORD">PASSWORD:</label>
                    <input th:field="*{password}" class="form-control" id="PASSWORD" type="text" name="password"/>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                         class="form-control-feedback">Password Error. Try another?
                    </div>
                </div>

                <input class="btn btn-primary" name="submit" type="submit" value="ADD"/>
            </form>
        </div>
    </div>
</div>

<!--Template footer-->
<div th:include="fragments/footer ::footer"></div>

</body>
</html>