<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
</head>
<body>

<!--Template Header-->
<div th:include="fragments/header ::header"></div>

<div class="container">

    <p class="bg-success info-message" th:if="${success != null}" th:text="${success}"></p>
    <p class="bg-error info-message" th:if="${error != null}" th:text="${error}"></p>

    <a class="btn btn-success" href="addUser">Add User</a>

    <table class="table" th:unless="${#lists.isEmpty(users)}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Password</th>

            <th>Update User</th>
            <th>Delete User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.login}">Login</td>
            <td th:text="${user.password}">Password</td>

            <td><a th:href="@{updateUser/{id}(id=${user.id})}">Update User</a></td>
            <td><a th:href="@{deleteUser/{id}(id=${user.id})}">Delete User</a></td>
        </tr>
        </tbody>
    </table>

</div>

<!--Template footer-->
<div th:include="fragments/footer ::footer"></div>

</body>
</html>
