<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<div class="container">

    <div class="row">
        <div class="col-md-6">

            <form action="#" th:action="@{/admin/news/addNews}" th:object="${news}" method="post">

                <input hidden th:field="*{id}" type="text" name="id"/>

                <div class="form-group row">
                    <label class="form-control-label" for="TITLE">TITLE:</label>
                    <input th:field="*{title}" class="form-control" id="TITLE" type="text" name="title"/>
                </div>

                <div class="form-group row">
                    <label class="form-control-label" for="DESCRIPTION">DESCRIPTION:</label>
                    <input th:field="*{description}" class="form-control" id="DESCRIPTION" type="text"
                           name="description"/>
                </div>

                <div class="form-group row">
                    <label class="form-control-label" for="DATE">DATE:</label>
                    <input th:field="*{date}" class="form-control" id="DATE" type="text" name="date"/>
                </div>

                <input class="btn btn-primary" name="submit" type="submit" value="ADD" th:datetime="${news.date}"/>
            </form>
        </div>
    </div>
</div>

<!--Template footer-->
<div th:include="/fragments/footer :: footer"></div>

</body>
</html>