<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OOPS</title>
    <meta charset="utf-8"/>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
</head>
<body>
<!--Template Header-->
<div th:include="/fragments/header :: header"></div>
<div class="container">
    <div class="form-group row">
        <div class="col-md-8 offset-md-2">
            <img th:src="@{/resources/404.gif}"/>
        </div>
    </div>
</div>
<!--Template footer-->
<div th:include="/fragments/footer :: footer"></div>
</body>
</html>