<!--Template Thymeleaf-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>header</title>
</head>
<body>

<!--HEADER-->
<div th:fragment="header">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">

    <nav class="header navbar navbar-toggleable-md bg-inverse navbar-dark bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">JavaShop</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="ndml1"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Panel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ndml1">
                        <a class="dropdown-item" href="/admin/user/">Users CRUD</a>
                        <a class="dropdown-item" href="/admin/good/">Goods CRUD</a>
                        <a class="dropdown-item" href="/admin/news/">News CRUD</a>
                    </div>
                </li>

                <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="ndml2"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ndml2">
                        <a class="dropdown-item" href="/cart">My cart</a>
                        <a class="dropdown-item" href="/order">My orders</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="ndml3"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Goods catalog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ndml3">
                        <a class="dropdown-item" href="/category/1">Notebooks</a>
                        <a class="dropdown-item" href="/category/2">Tablets</a>
                        <a class="dropdown-item" href="/category/4">Foto Cameras</a>
                        <a class="dropdown-item" href="/category/3">Smartphones</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="/news/">News</a></li>

            </ul>
            <div class="my-2 my-lg-0">
                <ul class="navbar-nav"
                    th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <li class="nav-item pull-sm-0">
                        <span th:case="${false}">
                            <a class="nav-link" href="/login">Login</a>
                        </span>
                        <span th:case="${true}">
                            <form th:action="@{/logout}" method="post">
                                <input class="btn btn-default" type="submit" value="Log out"/>
                            </form>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></p>
                <p class="alert alert-success" th:if="${success != null}" th:text="${success}"></p>
            </div>
        </div>
    </div>

</div><!--/HEADER-->

</body>
</html>