<!--Template Thymeleaf-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>header</title>
</head>
<body>

<!--HEADER-->
<div th:fragment="header">

    <nav class="header navbar navbar-toggleable-md bg-inverse navbar-dark bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">JavaShop</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/user/">USERS CRUD</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/category/1">Notebooks</a></li>
                <li class="nav-item"><a class="nav-link" href="/category/2">Tablets</a></li>
                <li class="nav-item"><a class="nav-link" href="/category/3">Smartphones</a></li>
                <li class="nav-item"><a class="nav-link" href="/category/4">Foto Cameras</a></li>
            </ul>
            <div class="my-2 my-lg-0">
                <ul class="navbar-nav"
                    th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <li class="nav-item pull-sm-0">
                        <span th:case="${false}">
                            <a class="nav-link" href="/login">Login</a>
                        </span>
                        <span th:case="${true}">
                            <form th:action="@{/logout}" method="post">
                                <input class="btn btn-default" type="submit" value="Log out" />
                            </form>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<!--/HEADER-->

</body>
</html>