<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<div class="container">

    <div class="row">
        <div class="col-md-6">

            <form action="#" th:action="@{/admin/good/updateGood}" th:object="${good}" method="post" enctype="multipart/form-data">

                <input hidden th:field="*{id}" type="text" name="id"/>

                <div class="form-group row">
                    <label class="form-control-label" for="TITLE">TITLE:</label>
                    <input th:field="*{title}" class="form-control" id="TITLE" type="text" name="title"/>
                </div>

                <div class="form-group row">
                    <label class="form-control-label" for="DESCRIPTION">DESCRIPTION:</label>
                    <input th:field="*{description}" class="form-control" id="DESCRIPTION" type="text" name="description"/>
                </div>
                <div class="form-group row">
                    <label class="form-control-label" for="Quantity">Quantity:</label>
                    <input th:field="*{quantity}" class="form-control" id="Quantity" type="text" name="quantity"/>
                </div>
                <div class="form-group row">
                    <label class="form-control-label" for="ACTIVE">ACTIVE:</label>
                    <input th:field="*{active}" class="form-control" id="ACTIVE" type="checkbox" name="active"/>
                </div>
                <div class="form-group row">
                    <label class="form-control-label" for="PRICE">PRICE:</label>
                    <input th:field="*{price}" class="form-control" id="PRICE" type="text" name="price"/>
                </div>
                <div class="form-group row">
                    <label class="form-control-label" for="CATEGORY">CATEGORY:</label>
                    <select class="form-control" id="CATEGORY" name="category" multiple="multiple">
                        <option th:each="category : ${allCategory}"
                                th:value="${category}"
                                th:text="${category.title}">Category name
                        </option>
                    </select>
                </div>

                <input class="btn btn-primary" name="submit" type="submit" value="Update" />
            </form>
        </div>
    </div>

</div>

<!--Template footer-->
<div th:include="/fragments/footer :: footer"></div>

</body>
</html>